:root {
	--color-primary: black;
	--color-secondary: white;
	--color-spotify: #65d36e;
	--color-spotify-dark: #4ecf58;
}
@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
