$color-primary: black;
$color-spotify: #65d36e;

.music-search {
	padding-top: 10px;
	height: 100%;
	min-height: 99vh;
	font-size: 24px;
	color: $color-primary;
	background-color: #747272;
	scroll-behavior: smooth;
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #353333;
	}

	::-webkit-scrollbar-thumb {
		background: $color-spotify;
		border-radius: 8px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #75eb9e;
	}
	.category-list {
		padding: 10px;
		border-radius: 8px;
		background-color: #181818;
		overflow-x: scroll;
		width: 90%;
		height: 250px;
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 10px;
		.category-list__item {
			box-shadow: 8px 11px 31px 10px rgba(66, 68, 90, 1);
			width: 220px;
			height: 200px;
			font-size: 12px;
			color: white;
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin: 5px 10px;
			padding-bottom: 10px;
			background-color: #181818;
			border-radius: 8px;
			&__playicon {
				background-color: $color-spotify;
				position: absolute;
				display: none;
				bottom: 25%;
				right: 15%;
				color: $color-primary;
				font-size: 20px;
				border-radius: 50%;
				cursor: pointer;
				padding: 10px;
			}
			h3 {
				width: 100px;
				overflow-wrap: break-word;
			}
			&__image {
				border-radius: 8px;
				object-fit: fit;
				width: 100%;
				overflow: hidden;
			}
			&:hover {
				.category-list__item__playicon {
					display: block;
				}
			}
		}
	}
	&__load-more {
		transition: 0.3s;
		width: 15%;
		min-width: 300px;
		justify-content: center;
		color: $color-primary;
		display: flex;
		margin: 0 10%;
		background-color: $color-spotify;
		border-radius: 50px;
		border: none;
		padding: 16px 2px;
		font-weight: bold;
		margin-bottom: 30px;
		cursor: pointer;
		&:hover {
			background-color: #4ecf58;
		}
		&:active {
			opacity: 50%;
		}
		&:disabled {
			opacity: 30%;
		}
	}
}
