.playlist {
	display: flex;
	margin: 0px 5% 60px 5%;
	flex-direction: column;
	align-items: start;

	&-title {
		background-color: var(--color-secondary);
		padding: 4px;
		border-radius: 8px;
	}

	.playlist-details {
		border-radius: 8px;
		font-size: 14px;
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: var(--color-primary);
		justify-content: center;
		color: var(--color-secondary);

		&__header {
			justify-content: space-between;
			padding: 10px 0px;
			display: flex;
			border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
			width: auto;
			:nth-child(2) {
				width: 160px;
			}
			:nth-child(4) {
				margin-right: 25px;
			}
			div {
				margin-left: 18px;
			}
			:last-child {
				margin-right: 20px;
			}
		}

		&-item {
			box-sizing: border-box;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
			padding: 2px 0;
			&--active {
				border-bottom: 1px solid var(--color-secondary);
			}
			&:hover {
				background-color: rgb(46, 44, 44);
				.playlist-details-item__number {
					background-color: var(--color-spotify);
					border-radius: 50%;
					height: 20px;
					inline-size: 20px;
					text-align: center;
					font-size: 18px;
					color: black;
				}
			}
			&__default {
				min-width: 20px;
				margin-left: 10px;
				padding: 8px;
			}

			&__number {
				min-width: 20px;
				padding: 8px;
				cursor: pointer;
				margin-left: 10px;
				&--bar {
					left: -20px;
					position: relative;
					display: flex;
					justify-content: space-around;
					width: 13px;
					height: 13px;
					span {
						width: 5px;
						background-color: var(--color-spotify);
						transform-origin: bottom;
						animation: bounce 2.2s ease infinite alternate;
						content: '';
						&:nth-of-type(2) {
							animation-delay: -2.2s;
						}
						&:nth-of-type(3) {
							animation-delay: -3.7s;
						}
					}
				}
			}

			&__duration {
				width: 40px;
				margin-right: 10px;
			}
			&__describe {
				display: flex;
				height: 40px;
				width: 300px;
			}
			&__name {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: center;
				margin-left: 20px;
				font-size: 12px;
				width: 250px;
				a {
					color: var(--color-secondary);
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			&__date-added {
				width: 150px;
			}

			&__avability {
				width: 100px;
				color: var(--color-spotify);
			}
			&__not-avability {
				width: 100px;
				color: red;
			}
			&__link {
				color: var(--color-spotify);
				text-decoration: none;
				margin-right: 180px;
				margin-left: 20px;
				&:hover {
					color: #d5e2d0;
					text-decoration: underline;
				}
			}
			p {
				width: 10px;
			}
		}

		&__audio-player {
			user-select: none;
			border-top: 1px solid hsla(0, 0%, 100%, 0.6);
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			height: 80px;
			background-color: var(--color-primary);
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			z-index: 10;
		}

		audio {
			display: none;
		}
	}
	.audio-player-item {
		&__artist {
			display: flex;
			align-items: center;
		}
		&__console {
			width: 220px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__play-button {
			all: unset;
			cursor: pointer;
			background-color: var(--color-spotify);

			margin: 0 5%;
			border-radius: 50%;
			box-sizing: border-box;
			height: 50px;
			text-align: center;
			inline-size: 50px;
			color: var(--color-primary);
			&--prev,
			&--next {
				height: 30px;
				width: 50px;
				border-radius: 4px;
				font-weight: bold;
			}
		}
		&__image {
			object-fit: cover;
			margin-right: 30px;
		}
		&__volume {
			display: flex;
			flex-wrap: nowrap;
			cursor: pointer;
			align-items: center;
			input[type='range'] {
				appearance: none;
				width: 100%;
				height: 2px;
				margin-left: 10px;
				background: #d3d3d3;
				accent-color: var(--color-spotify);
				cursor: pointer;
			}
		}

		&__progress {
			cursor: pointer;
			input[type='range'] {
				appearance: none;
				width: 100%;
				height: 2px;
				accent-color: var(--color-spotify);
				background: #d3d3d3;

				cursor: pointer;
			}
		}
		&__now-playing {
			width: 250px;
			text-align: left;
			overflow: hidden;
			color: var(--color-secondary);
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.playlist {
		.playlist-details {
			&__header {
				display: none;
			}
			&-item {
				&__date-added {
					display: none;
				}
				&__name {
					margin: 2px 15px;
					overflow: hidden;
					font-size: 10px;
					max-width: 150px;
				}
				&__link {
					width: auto;
					margin-right: 30px;
				}
			}
			&__audio-player {
				display: flex;
				justify-content: space-around;
			}

			.audio-player-item {
				&__console {
					flex-direction: row-reverse;
					align-items: center;
					width: auto;
				}
				&__now-playing {
					height: auto;
					width: 200px;
				}
				&__play-button {
					margin-left: 50px;
					margin-right: 10px;
					&--prev,
					&--next {
						display: none;
					}
				}

				&__volume {
					display: none;
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	.playlist {
		&-title {
			font-size: 24px;
		}
		.playlist-details {
			&-item {
				&:hover {
					.playlist-details-item__number {
						margin: 0 5px;
					}
				}
				&__link {
					margin: 0 10px;
					font-size: 10px;
				}
				&__duration {
					display: none;
				}
				&__avability {
					font-size: 10px;
				}
				&__not-avability {
					font-size: 10px;
				}
			}
			.audio-player-item {
				&__now-playing {
					font-size: 10px;
					width: auto;
				}
				&__progress {
					margin: 0px 5px;
					width: auto;
				}
				&__image {
					margin-left: 10px;
					margin-right: 10px;
				}
				&__play-button {
					margin-left: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 390px) {
	.playlist .playlist-details-item__name {
		max-width: 100px;
	}
	.playlist .playlist-details .audio-player-item__progress {
		width: 75px;
	}
}

@keyframes bounce {
	10% {
		transform: scaleY(0.3);
	}

	30% {
		transform: scaleY(1);
	}

	60% {
		transform: scaleY(0.5);
	}

	80% {
		transform: scaleY(0.75);
	}

	100% {
		transform: scaleY(0.6);
	}
}
