.welcome-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__name,
	&__email {
		font-size: 24px;
		color: var(--color-primary);
		font-weight: bold;
	}
	&__button--logout,
	&__button--preview {
		margin-top: 8px;
		background-color: var(--color-spotify);
		border-radius: 50px;
		border: none;
		padding: 8px 10%;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			background-color: var(--color-spotify-dark);
		}
		&:active {
			opacity: 50%;
		}
	}
}
